.sidebar {
	font-size: 16px;
	line-height: 1.5;

	@include mq( $from: ml ) {
		float: right;
		width: 30%;
	}
}

.sidebar-content .sidebar {
	@include mq( $from: ml ) {
		float: left;
	}
}

.sidebar .widget {
	margin-bottom: 40px;
}

.sidebar p {
	margin-bottom: 20px;
}
