input,
select,
textarea {
	background-color: $white;
	border: 1px solid $light-grey;
	color: $dark-grey;
	font-size: 18px;
	font-weight: 400;
	padding: 15px;
	width: 100%;
}

input:focus,
textarea:focus {
	border: 1px solid $medium-grey;
	outline: none;
}

input[type="checkbox"],
input[type="image"],
input[type="radio"] {
	width: auto;
}

::-ms-input-placeholder {
	color: $dark-grey;
	opacity: 1;
}

:-ms-input-placeholder {
	color: $dark-grey;
	opacity: 1;
}

::placeholder {
	color: $dark-grey;
	opacity: 1;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button,
p.button a,
.home .site-inner .button,
.wp-block-button .wp-block-button__link,
.ab-block-cta .ab-button {
	background-color: $darker-grey;
	font: 600 12px/22px Gotham, $text-font-stack;
	text-transform: uppercase;
	border: 0;
	border-radius: 0;
	color: $white;
	cursor: pointer;
	padding: 8px 22px;
	text-align: center;
	text-decoration: none;
	white-space: normal;
	width: auto;
	letter-spacing: 2.4px;

	@include mq( $until: ms ) {
		font-size: 9px;
		line-height: 13px;
		padding: 10px;
	}

	&.button-white {
		background-color: $white;
		color: $darker-grey;
	}
}

button:focus,
button:hover,
input[type="button"]:focus,
input[type="button"]:hover,
input[type="reset"]:focus,
input[type="reset"]:hover,
input[type="submit"]:focus,
input[type="submit"]:hover,
.button:focus,
.button:hover {
}

.entry-content .button:focus,
.entry-content .button:hover {
}

.button {
	display: inline-block;
}

.site-container button:disabled,
.site-container button:disabled:hover,
.site-container input:disabled,
.site-container input:disabled:hover,
.site-container input[type="button"]:disabled,
.site-container input[type="button"]:disabled:hover,
.site-container input[type="reset"]:disabled,
.site-container input[type="reset"]:disabled:hover,
.site-container input[type="submit"]:disabled,
.site-container input[type="submit"]:disabled:hover {
	background-color: $light-grey;
	border-width: 0;
	color: $medium-grey;
	cursor: not-allowed;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
	display: none;
}

// select dropdown
.nypr-annual-reports {
	display: flex;

	&__wrapper {
		width: 240px;
		height: 45px;
		overflow: hidden;
		background: url(../images/select-arrow.png) no-repeat 96% #fff;
		border: 1px solid #000;
	}
	&__select {
		background: transparent;
		width: 268px;
		padding: 5px;
		font-size: 16px;
		font-family: Gotham, $text-font-stack;
		line-height: 1;
		border: 0;
		border-radius: 0;
		height: 40px;
		-webkit-appearance: none;
	}
}