// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.home .site-inner {
	h1 {
		font: Bold 33px/33px Gotham, $text-font-stack;
		letter-spacing: 3.3px;
		text-transform: uppercase;
		border-bottom: 1px solid $white;
		padding-bottom: 19px;
	}
	.entry-title,
	.entry-title-link {
		text-align: left;
		font: Bold 28px/37px Gotham, $text-font-stack;
		letter-spacing: 1.4px;
	}
	time {
		text-align: left;
		font: Light 19px/27px Gotham, $text-font-stack;
	}
	.button {
		text-align: center;
		border-radius: 0;
		padding: 8px 24px;

		@include mq( $until: ms ) {
			font-size: 14px;
			padding: 12px;
			display: block;
		}
	}

}

.nypr-homepage-top {
	height: $slider-height;
	display: flex;

	@include mq( $until: ms ) {
		height: auto;
		flex-direction: column;
		padding-top: 48px;
	}

	@include mq( $from: xl ) {
		max-width: $max-site-width;
	}

	&__slider {
		width: 67%;
		height: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;

		@include mq( $until: ms ) {
			width: 100%;
			height: auto;
		}
	}

	&__menu {
		width: 33%;

		@include mq( $until: ms ) {
			width: 100%;
		}

		ul {
			display: flex;
			flex-direction: column;
			height: 100%;
			border-left: 2px solid $white;

			@include mq( $until: ms ) {
				border-left: none;
			}

			li {
				background: $white;
				flex: 1;
				border-bottom: 2px solid $white;
				background-size: cover;
				background-repeat: no-repeat;
				position: relative;

				@include mq( $until: ms ) {
					border-top: 2px solid $white;
					padding-top: 25px;
					padding-bottom: 25px;
				}

				&:after {
					content: '';
					position: absolute;
					left: 0;
					right: 0;
					bottom: 0;
					height: 100%;
					background: rgba(0, 0, 0, 0.5);
				}

				&:last-child {
					border-bottom: none;
				}

				a {
					position: relative;
					height: 100%;
					display: flex;
					flex-direction: column;
					justify-content: center;
					text-decoration: none;
					color: $white;
					padding: 0 30px;
					z-index: 1;
				}

				h3 {
					margin-bottom: 10px;
					font: Bold 28px/32px Gotham, $text-font-stack;
					letter-spacing: 2.15px;

					@include mq( $until: ms ) {
						font-size: 27px;
						line-height: 31px;
					}
				}

				p {
					margin: 0;
					font: 200 12px/19.2px Gotham Book, $text-font-stack;
					letter-spacing: 0.75px;
					max-width: 300px;

					@include mq( $until: ms ) {
						font-size: 13px;
						line-height: 15px;
						max-width: none;
					}
				}
			}
		}
	}

}

.nypr-list-brands {
	margin-bottom: 50px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	padding: 0 75px;

	@include mq( $until: ms ) {
		background-color: $light-grey;
		padding: 10px 25px;
		margin-bottom: 0;
		justify-items: center;
		max-height: 48px;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		z-index: 1;

		a {
			display: flex;
			margin-right: 18px;

			&:last-child {
				margin-right: 0;
			}
		}
	}
}

.nypr-homepage-excerpt {
	margin-bottom: 75px;
	position: static;

	@include mq( $until: ms ) {
		margin-bottom: 35px;
	}

	.site-inner {
		margin: 0 auto;
		padding: 50px 75px;

		@include mq( $until: ms ) {
			padding: 30px 18px;
		}
	}

	h2 {
		text-align: center;
		font: 400 36px/41.6px Gotham, $text-font-stack;
		letter-spacing: 2.4px;
		color: $darker-grey;
		max-width: 920px;
		margin-left: auto;
		margin-right: auto;

		@include mq( $until: ms ) {
			font-size: 22px;
			line-height: 25px;
			letter-spacing: 1.1px;
			margin-bottom: 0;
			max-width: none;
		}
	}
}

.press-room {
	h2 {
		font: 600 24px/51px Gotham, $text-font-stack;
		letter-spacing: 3.7px;
		border-bottom: 2px solid $black;
		padding-bottom: 5px;
		text-transform: uppercase;

		@include mq( $until: ms ) {
			font-size: 20px;
			line-height: 33px;
			letter-spacing: 2px;
		}
	}

	.widget.featuredpost {
		article.entry {
			margin-bottom: 0;
			border-bottom: 0;
			margin-right: 0;
			width: 100%;
			padding-right: 30px;

			@include mq( $until: ms ) {
				padding-right: 0;
			}

			&:last-child {
				padding-right: 0;

				@include mq( $until: ms ) {
					.entry-button {
						margin-bottom: 0;
					}
				}
			}

			.entry-meta {
				time {
					font: 200 14px/20px Gotham Book, $text-font-stack;
				}
			}

			.entry-title {
				font: 600 18px/26px Gotham, $text-font-stack;
				margin-bottom: 15px;
			}

			.entry-content {
				.button {
					padding: 8px 15px;
				}
			}
		}
	}
}
